<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
</head>
<body>

    <div class="container">
        <h2>Sale of Bottle</h2>
        <form action="/action_page.php">
          
          <div class="form-group">
            <label for="sel1">Bottle ID</label>
            <select class="form-control" id="list_bottleid">
              <option selected disabled hidden>Bottle ID</option>
              <option>id1</option>
              <option>id2</option>
              <option>id3</option>
            </select>
            <br/>
            <button type="submit" class="btn btn-default" id="btn_sale">Confirm Sale</button>
            <br/><br/>





    <script src="../main.js"></script>
</body>
</html>