<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Warehouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
</head>
<body>

<h1 style="text-align: center">ProjectHol</h1>
<br/>
<h2 style="text-align: center">Warehouse 2</h2>
    
<div class="container">
        <h2>Transfer Assets</h2>
        <form action="/action_page.php">
          
          <div class="form-group">
            <label for="sel1">bottle id</label>
            <select class="form-control" id="list_bottleid">
              <option selected disabled hidden>bottle id</option>
              <option>id1</option>
              <option>id2</option>
              <option>id3</option>
            </select>
            <br/>
            <label for="sel2">Transferring to:</label>
            <select class="form-control" id="list_posid">
              <option selected disabled hidden>transfer to</option>
              <option>Point_of_Sale 1</option>
              <option>Point_of_Sale 2</option>
              <option>Point_of_Sale 3</option>
            </select>
            <br/>
            <button type="submit" class="btn btn-default" id="btn_transferCustody">Transfer Custodianship</button>
            <br/><br/>

    <script src="../main.js"></script>
</body>
</html>