<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
</head>
<body>
    <h1 style="text-align: center">ProjectHol</h1>
    <br/>
    <br/>
    <h2 style="text-align: center">Details of the bottle</h2>
    <br/>
    <br/>
    <table class="key-value-table table-bordered" summary="Bottle ID details">
            <caption>Bottle details</caption>
            <tbody>
                <tr>
                    <th class="width-20">Bottle ID:</th>
                    <td id="customer_bottle_id">bottle id</td>
                </tr>
                <tr>
                    <th>Bottle Created On:</th>
                    <td id= "bottle_creation_date">Bottle creation date</td>
                </tr>
                <tr>
                    <th>Bottle Created By:</th>
                    <td id= "manufacturer_id">Manufacturer id</td>
                </tr>
                <tr>
                    <th>Bottle moved to Stockist on:</th>
                    <td id="stockist_entry_date">Manufacturer to Stockist Transfer date</td>
                </tr>
                <tr>
                    <th>Custodian Stockist:</th>
                    <td id="stockist_id">Stockist id</td>
                </tr>
                <tr>
                    <th>Bottle Moved to Warehouse on:</th>
                    <td id="warehouse_entr_date">Stockist to Warehouse Transfer date</td>
                </tr>
                <tr>
                    <th>Custodian Warehouse:</th>
                    <td id="warehouse_id">Warehouse id</td>
                </tr>
                <tr>
                    <th>Bottle Moved to Sales point on:</th>
                    <td id="POS_entry_date">Warehouse to POS Transfer date</td>
                </tr>
                <tr>
                    <th>Seller of the bottle:</th>
                    <td id="POS_id">Bar/Beverages id</td>
                </tr>
                <tr>
                    <th>Bottle Sold on:</th>
                    <td id="POS_exit_date">Bottle selling date</td>
                </tr>
            </tbody>
        </table>
    <script src="main.js"></script>
</body>
</html>